[[clusters]]
id = "main"
name = "My Proxmox Cluster 1"

    [[clusters.nodes]]
    host = "x.y.z.1"
    user = "root@pam"
    password = "admin"
    verify_ssl = false

 
# Example second cluster (uncomment and configure as needed)
#[[clusters]]
#id = "secondary"
#name = "My Proxmox Cluster 2"
#
#   [[clusters.nodes]]
#    host = "x.y.z.2"
#    user = "root@pam"
#    password = "admin"
#    verify_ssl = false